body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #c7ddb4;
}

p {
    text-align: center;
    color: #555;
    font-size: 1.2em;
    margin: 10px 0;
    line-height: 1.5;
    padding: 0 20px;
}

nav {
    background-color: #2854e2;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #1bbc1b;
}

main {
    padding: 20px;
}

@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
}